/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td,
table th {
  padding: 0;
  text-align: left;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  display: block;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat/montserrat-v12-latin-300.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  display: block;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat/montserrat-v12-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  display: block;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat/montserrat-v12-latin-700.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  display: block;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.h1,
.h2 {
  line-height: 1.1;
}

.h3,
.h4 {
  line-height: 1.3;
}

.h1 {
  font-size: 400%;
  letter-spacing: -2px;
}

.h2 {
  font-size: 250%;
  letter-spacing: -1px;
}

.h3 {
  font-size: 200%;
}

.h4 {
  font-size: 180%;
}

.h5 {
  font-size: 130%;
}

.small-1 {
  font-size: calc(14px / 1rem);
}

.small-2 {
  font-size: calc(12px / 1rem);
}

.small-3 {
  font-size: calc(10px / 1rem);
}

.site-nav {
  padding: 0.5rem 1rem;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-icon {
  width: 1.5rem;
}

.list-view {
  display: none;
}

.avenue-fashion {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #333;
}

.avenue-fashion span {
  font-weight: 700;
  color: #777;
}

@media (min-width: 720px) {
  .menu-icon {
    display: none;
  }
  .list-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list-view li {
    margin: 0 1rem;
  }
}

.page-header {
  padding: 8rem 0;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 58, 0.849)), to(rgba(87, 87, 87, 0.493))), url(../img/page-header-sm.jpg) center/cover;
  background: linear-gradient(rgba(58, 58, 58, 0.849), rgba(87, 87, 87, 0.493)), url(../img/page-header-sm.jpg) center/cover;
}

.title {
  font-size: calc(2rem + 2vw);
}

.tagline {
  font-size: calc(1.2rem +  1vw);
}

.client-sign-up {
  margin: 0 auto;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.client-sign-up label {
  font-family: "Montserrat";
  font-size: 14px;
  color: #999;
  display: inline;
}

.client-sign-up input, .client-sign-up select, .client-sign-up textarea {
  border: 1px solid grey;
  background-color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  color: #444;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.client-sign-up input[type="radio"] {
  width: 2rem;
  background: #fff;
}

.client-sign-up textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 350px;
  min-height: 350px;
}

.account {
  font-family: "Montserrat";
  font-size: 21px;
  text-align: center;
  border: 2px solid grey;
  height: 55px;
}

.policy span {
  color: #00c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 720px) {
  .client-sign-up {
    max-width: 800px;
    margin: 0 auto;
    grid-column-gap: 1.5rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "first last" "email email" "password confirm" "dropdown phone";
  }
  :nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: last;
  }
  :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: email;
  }
  :nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: password;
  }
  :nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: confirm;
  }
  :nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: dropdown;
  }
  :nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: phone;
  }
  .fine-print {
    -ms-grid-row: 5;
    grid-row: 5;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fine-print label {
    margin-left: 1rem;
  }
  .message {
    -ms-grid-row: 6;
    grid-row: 6;
    grid-column: span 2;
  }
  .register {
    padding-left: 570px;
    padding-top: 117px;
  }
  .language {
    -ms-grid-row: 6;
    grid-row: 6;
    grid-column: span 2;
  }
  .clothing {
    -ms-grid-row: 6;
    grid-row: 6;
    grid-column: span 1;
  }
}
/*# sourceMappingURL=style.css.map */